.house_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.house_body_element__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.house_body_element__buttons__reject {
    background-color: #be4e4e;
}

.house_body_element__buttons__ok {
    background-color: #67da45;
}

.house_body__buttons__element {
    padding: 0.3rem 1rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;

}

.house_body__element {
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin: 1rem;
}