.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem;
}

.navbar_container_title {
    text-align: center;
    margin: 0 1rem;
}

.navbar_container_myProfile {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 8rem;
}