.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.main_p {
  margin: 2rem;
  max-width: 40rem;
}

.main_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


